In [31]:
# import the necessary packages
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Basics

## Indexing

In python, when an object is a collection (like a list, a tuple, or a string...etc), you can specify which items you want from that collection by putting the *index* (or multiple indices) of the item in square brackets.

In [32]:
my_list = [4,8,15,16,23,42]

# grab 15 from the list above

my_list[2] # remember indexing begins at 0

15

In [33]:
my_string = "Beautiful is better than ugly. Explicit is better than implicit. Simple is better than complex. Complex is better than complicated."

# grab "better" from my_string

my_string[13:19]

'better'

In [34]:
my_tuple = (50,100,25)

# grab 50 from my_tuple

my_tuple[0]

50

Dictionaries, because they're not ordered, rely on key-value pairs rather than numeric indices. To grab a value from a dictionary, specify the key related to the value you'd like.

In [35]:
my_dict = {"Happy": True, "Age": 45, "Name": "Janice", "Children": ["Ted", "Alan", "Jake"]}

# grab name of 3rd child, Jake, from my_dict

my_dict["Children"][2] # from value associated with the key Children, grab the item @ the 2nd index

'Jake'

## Your Turn

From the object `CPSC392`, grab the average quiz grade for Carla.
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [36]:
CPSC392 = {"Jimmy": {"QuizGrades": [9,5,9,8,7], "Major": "Computer Science"},
          "Brenda": {"QuizGrades": [9,10,9,10,7], "Major": "Business"},
          "Jacqueline": {"QuizGrades": [3,6,2,8,9], "Major": "Computer Science"},
          "Bethany": {"QuizGrades": [2,2,0,4,5], "Major": "Business"},
          "Kristen": {"QuizGrades": [9,7,9,9,9], "Major": "Computer Science"},
          "Elissa": {"QuizGrades": [4,4,5,8,2], "Major": "Foreign Languages"},
          "Carly": {"QuizGrades": [7,6,8,7,9], "Major": "Biology"}}

###

np.mean(CPSC392["Carly"]["QuizGrades"])

7.4

## Range

You can use the `range()` function in order to get a sequence of integers. Range takes 3 arguments:

- `start`: which number to start at
- `stop`: which number to stop at (this number itself is not included)
- `step`: what incrememnt to step by (default is 1, `step = 2` would give you every other integer)

In [37]:
r = range(0,100,2)

r_list = list(r) # just to print it out

print(r_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [38]:
s = range(10, 24)

s_list = list(s)

print(s_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

# Functions

If you need to review: [Video 1](https://www.youtube.com/watch?v=dU5nyLfq7J0), [Video 2](https://www.youtube.com/watch?v=vp50OR-gwTY)

Functions are a way to write multi-use code that can be called over and over in different circumstances. Functions are groups/suites of code that perform a specific calculation given variable inputs. Functions allow us to change the inputs we are operating on through *arguments* which are given to the function when you define and call the function. For example, in the code below which defines the function `square()`, the argument `n` tells us which number to square:

In [39]:
def square(n):
    return(n*n)

## Arguments
The argument `n` is a variable which will hold whatever number we give the function when calling it. For example, if I want to square the number 7 I would use this code:

In [40]:
square(7)

49

in this case, `n` will be equal to `7`, and every time we reference `n` in the function code, we will use `7`. We could also use other numbers. For example:

In [41]:
square(n = 12)

144

Notice that you can explicitly tell python which argument you're setting when calling the function by saying the name of the argument (here: `n`) `=` the value for that argument (here: `12`). 


## Default Arguments
When *defining* a function, you can set *default arguments*, which are values that the function can use if the user does not provide values for that specific argument. For example, in our `square()` function, we can specify that if the user does not provide a value for `n`, then the function should use `n = 1`. We set default arguments by giving the argument a value when *defining* the function.

In [42]:
def square(n = 1):
    return(n*n)

When defining functions, arguments with NO default must come before arguments with a default. For example in this function that multiplies two numbers, `a` and `b`, the argument `a` must appear first in the parentheses when defining `mult()` because it does NOT have a default value, while `b` does.

In [43]:
def mult(a, b = 2):
    return(a * b)

Default arguments allow users to call the function without spefifying a value for that argument. For example if we called `square()` as defined in this section *without* an argument, it would return `1`, because it uses the default value of 1 when no value for `n` is given.

## Calling vs. Defining Functions

When you define a function, you're giving python instructions about what to do *if* you ever call that function. This is why when you write your `def` statement, and run the code, nothing actually outputs. This is because when you run a function definition, you are just asking python to *store* the directions for later. To actually execute the function, you need to *call* it. 

For example when you run the below cell. Nothing will output.

In [44]:
# FUNCTION DEFINITION

def censorDang(sentence):
    # this function takes in a sentence as a string and returns the same
    # sentence censored for any occurance of the word "dang".
    
    sentence_list = sentence.split()
    
    for i in range(0,len(sentence_list)):
        if sentence_list[i].lower() == "dang":
            sentence_list[i] = "****"
            
    return(" ".join(sentence_list))

But when you call the function in the following cell, python will actually execute the code and there will be an output.

In [45]:
## FUNCTION CALL

censorDang("Dang this is good tea.")

'**** this is good tea.'

Remember that when you're writing a function, the arguments are just placeholders or variables. They don't refer to specific objects/values, they're meant to be malleable. So for example, when I wrote `censorDang()`, I didn't write it with a *specific* sentence in mind. The function should work for any sentence!

## Your Turn

Write a function, `max_list()` that takes in a list of numbers as an argument, and returns the maximum value of that list.

<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [46]:
###

def max_list(LoN):
    return(max(LoN))

max_list([1,4,7,8,2])

8

Write a function, `q_finder()` that takes in a list of words/strings as an argument, and returns a list of only the words that contain q (upper OR lower case).

<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [47]:
###

def q_finder(listOfWords):
    return([word for word in listOfWords if "q" in word.lower()])

q_finder(["Quality", "corn", "quibble", "cash"])

['Quality', 'quibble']

Write a function `cluster_subsetter()` that takes in a data frame (see example below), `df`,  and a string `cluster`, as arguments, and returns a data frame with only the rows who are in the cluster specified by `cluster`.

<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [48]:
d = pd.DataFrame({"x": np.random.uniform(0,1,size = 100),
                 "y" : np.random.uniform(0,1,size = 100),
                 "cluster" : np.repeat(["A", "B", "C"], [50,20,30]) })
d
# cluster_subsetter(d,"A") should return only the rows in d that belong in cluster "A"


###

def cluster_subsetter(df, cluster):
    return(df.loc[df["cluster"] == cluster])

cluster_subsetter(d, "A")

           x         y cluster
0   0.932351  0.611977       A
1   0.587494  0.206132       A
2   0.948252  0.165066       A
3   0.556035  0.361817       A
4   0.500561  0.863353       A
5   0.003532  0.509402       A
6   0.480889  0.296902       A
7   0.927455  0.950252       A
8   0.198366  0.815966       A
9   0.052091  0.322974       A
10  0.406779  0.972098       A
11  0.372396  0.987351       A
12  0.857153  0.408660       A
13  0.026611  0.655923       A
14  0.920149  0.405653       A
15  0.680903  0.257348       A
16  0.904226  0.082653       A
17  0.607529  0.263610       A
18  0.811953  0.271480       A
19  0.335544  0.398639       A
20  0.349566  0.184886       A
21  0.389874  0.953818       A
22  0.754797  0.102880       A
23  0.369291  0.625209       A
24  0.242220  0.441697       A
25  0.937668  0.423518       A
26  0.908011  0.371992       A
27  0.348797  0.868315       A
28  0.634638  0.280477       A
29  0.273842  0.020576       A
30  0.206115  0.918097       A
31  0.336340  0.864480       A
32  0.327100  0.276902       A
33  0.882276  0.523488       A
34  0.822304  0.109088       A
35  0.709623  0.093427       A
36  0.959345  0.837466       A
37  0.422543  0.410266       A
38  0.245033  0.661717       A
39  0.117398  0.943201       A
40  0.301053  0.245131       A
41  0.145264  0.013160       A
42  0.092186  0.024148       A
43  0.602932  0.709386       A
44  0.364187  0.924552       A
45  0.564570  0.467330       A
46  0.191336  0.375109       A
47  0.676906  0.542860       A
48  0.215505  0.858917       A
49  0.278024  0.652154       A

# List Comprehension

## List Comp Intro

List comprehension is a way to create lists using iteration, essentially as an alternative to using a for loop. 

If a for loop looks like this:

In [49]:
my_list = []

for i in range(0,10):
    my_list.append(i**2)

then the list comprehension would look like this:

In [50]:
my_list2 = [i**2 for i in range(0,10)]

## Other examples:

### making a list of all lower case letters in a string

In [51]:
# for loop
censored_list = []

s = "The rain in Spain falls mainly in the plains"

for letter in s:
    censored_list.append(letter.lower())

In [52]:
# list comp

censored_list2 = [letter.lower() for letter in s]

censored_list == censored_list2

True

### calculating factorials for a bunch of numbers

In [53]:
# for loop

factorials = []

def factorial(n):
    mult = range(1,n+1)
    p = 1
    for i in mult:
        p = p * i
    return(p)
        
n = [2,5,6,10,144]
fac = []
for num in n:
    fac.append(factorial(num))

In [54]:
# list comp

fac2 = [factorial(num) for num in n]

fac == fac2

True

### multiplying all possible combos of items from two lists together
You can even do combine 2 for loops into 1 list comprehension!

In [55]:
# for loop

a = [1,2,3,4,5]
b = [6,7,3,4,-1]

mults = []

for i in a:
    for j in b:
       mults.append(i*j)

In [56]:
# list comp

mult2 = [i*j for i in a for j in b]

mult == mult2

False

### flattening a list of lists into a single list

In [57]:
# for loop

a = [[1,2,3,4,42,4,3,2],[4,2,3,9,5,83,8,2,9,0,3], [4,8,15,16,23,42]]

newList = []
for sub in a:
    for i in sub:
        newList.append(i)

In [58]:
# list comp
newList2 = [i for sub in a for i in sub]

newList == newList2

True

### making a list of all possible playing cards

In [59]:
suits = ["Hearts", "Spades", "Diamond", "Clubs"]
cards = ["A","K","Q","J", "10", "9", "8", "7", "6", "5", "4", "3", "2"]

deck = []
for suit in suits:
    for card in cards:
        deck.append(suit+card)
        
        
#list comp

deck2 = [card + " of " + suit for suit in suits for card in cards]

print(deck2)

deck == deck2

['A of Hearts', 'K of Hearts', 'Q of Hearts', 'J of Hearts', '10 of Hearts', '9 of Hearts', '8 of Hearts', '7 of Hearts', '6 of Hearts', '5 of Hearts', '4 of Hearts', '3 of Hearts', '2 of Hearts', 'A of Spades', 'K of Spades', 'Q of Spades', 'J of Spades', '10 of Spades', '9 of Spades', '8 of Spades', '7 of Spades', '6 of Spades', '5 of Spades', '4 of Spades', '3 of Spades', '2 of Spades', 'A of Diamond', 'K of Diamond', 'Q of Diamond', 'J of Diamond', '10 of Diamond', '9 of Diamond', '8 of Diamond', '7 of Diamond', '6 of Diamond', '5 of Diamond', '4 of Diamond', '3 of Diamond', '2 of Diamond', 'A of Clubs', 'K of Clubs', 'Q of Clubs', 'J of Clubs', '10 of Clubs', '9 of Clubs', '8 of Clubs', '7 of Clubs', '6 of Clubs', '5 of Clubs', '4 of Clubs', '3 of Clubs', '2 of Clubs']

False

### Words with e's

You can also include boolean statements like if/else in your list comprehension.

In [60]:
words = ["Hello", "Mother", "hello", "father", "fleas", "ticks", "mosquitos", "really", "bother"]

es = []

for word in words:
    if "e" in word.lower():
        es.append(word)

In [61]:
es2 = [word for word in words if "e" in word.lower()]

es == es2

True

### Using list comp with sklearn

You can use list comprehension with all sorts of functions. For example, you can use it to create a bunch of KMeans models and calculate their silhouette scores.

In [62]:
data = pd.read_csv("https://raw.githubusercontent.com/cmparlettpelleriti/CPSC392ParlettPelleriti/master/Data/programmers2.csv")

kmod = KMeans()

kms = [KMeans(n_clusters = k).fit(data) for k in range(2,10)]

silhouettes = [silhouette_score(data,model.predict(data)) for model in kms]

# silhouettes = [silhouette_score(data,KMeans(n_clusters = k).fit_predict(data)) for k in range(2,10)]

print(silhouettes)

print("\nThe maximum silhouette score is: ", max(silhouettes))

[0.4342031414710615, 0.5368423138393504, 0.6513061716958818, 0.616849785320789, 0.5466131448314617, 0.5000762522673929, 0.45504546178918737, 0.3635328217620038]

The maximum silhouette score is:  0.6513061716958818

## Your Turn

use the `prime()` function below, as well as list comprehension to create a list called `primes` that contains all the prime numbers between 3 and 1000.
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [63]:
def prime(n = 10):
    if n < 2:
        return(False)
    if n == 2:
        return(True)
    for div in range(2,n):
        if n%div == 0:
            return(False)
    return(True)

primes = [i for i in range(3,1001) if prime(i)]###
primes

[3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

Use list comprehension to turn this list of numbers, into a list of strings (for example if the list is [1,2,3] you want to return ["1", "2", "3"]).
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [64]:
nums = [1,1,3,5,8,13]
string_nums = [str(i) for i in nums]

string_nums###

['1', '1', '3', '5', '8', '13']

Use list comprehension to create a list of ONLY words from `sentence` that have an even number of letters.
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [65]:
sentence = "Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum"

even_words = [word for word in sentence.split() if len(word)%2 == 0]###
even_words

['amet',
 'adipiscing',
 'elit',
 'do',
 'tempor',
 'incididunt',
 'ut',
 'labore',
 'et',
 'dolore',
 'aliqua',
 'Ut',
 'enim',
 'ad',
 'veniam',
 'quis',
 'exercitation',
 'nisi',
 'ut',
 'ex',
 'ea',
 'Duis',
 'aute',
 'in',
 'in',
 'esse',
 'cillum',
 'dolore',
 'eu',
 'fugiat',
 'pariatur',
 'sint',
 'occaecat',
 'proident',
 'sunt',
 'in',
 'deserunt',
 'mollit',
 'anim',
 'id']

# Pandas Data Frames

Data frames are a way to store data in python. It's similar to a single spreadsheet which contains rows (observations) and columns (features).

You can grab the size of the data frame with `.shape` which gives you the number of rows, and columns in the data frame.

In [66]:
data = pd.read_csv("https://raw.githubusercontent.com/cmparlettpelleriti/CPSC392ParlettPelleriti/master/Data/KMEM4.csv")

data.shape

(600, 2)

To see a small # of rows of your data frame, use `.head()`

In [67]:
data.head()

          x         y
0 -0.006848  0.395527
1  0.314820 -0.289261
2  0.171705  1.078077
3 -1.203661  1.325926
4 -0.179379 -0.036615

To grab columns from a data frame you can use multiple ways:

In [68]:
data.x

0     -0.006848
1      0.314820
2      0.171705
3     -1.203661
4     -0.179379
         ...
595    4.189792
596   -4.249038
597    3.411690
598    3.629434
599   -4.904774
Name: x, Length: 600, dtype: float64

In [69]:
data["x"]

0     -0.006848
1      0.314820
2      0.171705
3     -1.203661
4     -0.179379
         ...
595    4.189792
596   -4.249038
597    3.411690
598    3.629434
599   -4.904774
Name: x, Length: 600, dtype: float64

In [70]:
data.iloc[:,0]

0     -0.006848
1      0.314820
2      0.171705
3     -1.203661
4     -0.179379
         ...
595    4.189792
596   -4.249038
597    3.411690
598    3.629434
599   -4.904774
Name: x, Length: 600, dtype: float64

In [71]:
data.loc[:, "x"]

0     -0.006848
1      0.314820
2      0.171705
3     -1.203661
4     -0.179379
         ...
595    4.189792
596   -4.249038
597    3.411690
598    3.629434
599   -4.904774
Name: x, Length: 600, dtype: float64

To acces rows from a data frame, we'll often use `.loc[]` or `.iloc[]`. You can remember the difference by telling yourself that the `i` in `.iloc[]` stands for integer/index, because `.iloc[]` takes indices/integers, whereas `.loc[]` can take booleans, and labels/strings.

Let's use `.loc[]` to grab rows 19-25 (assuming first row is 0) from `data`.

In [72]:
data.iloc[19:26,] # remember it STARTS from the first number and goes up to BUT NOT INCLUDING the second

           x         y
19 -0.746738 -0.440733
20  1.524822 -1.256318
21 -0.728119 -0.015010
22  0.914411 -1.748031
23 -0.491472  1.115153
24  0.597467 -1.437617
25 -0.875947  0.582450

Now let's grab only the rows where x > 3, and y > 3.

In [73]:
gt3 = (data.x > 3) & (data.y > 3)

data.loc[gt3]

            x         y
128  3.457686  3.200131
140  3.408910  3.062241
201  3.067726  3.221080
272  3.711039  3.285028
313  3.141992  3.761917
361  3.706717  3.030354
422  3.486926  3.055562
436  3.002480  3.544937
471  3.012580  3.290013
554  3.275193  3.012374
583  3.313295  3.404577
592  3.071065  3.151695

There are TONS of useful data frame functions, so I'll demonstrate just a few:

In [74]:
# grab the mean of columns

data.mean()

x   -0.125429
y    0.695387
dtype: float64

In [75]:
# grab the max of the columns

data.max()

x    4.976464
y    4.979621
dtype: float64

In [76]:
# what columns are in my df?

data.columns

Index(['x', 'y'], dtype='object')

In [77]:
# drop missing values

data = data.dropna()

In [78]:
# groupb data frame by cluster assignment and then get the mean for each cluster

prog = pd.read_csv("https://raw.githubusercontent.com/cmparlettpelleriti/CPSC392ParlettPelleriti/master/Data/programmers.csv")
prog["Assignment"] = np.repeat(["A", "B", "C", "D", "E"],50)

prog.groupby("Assignment").mean() # rows are each cluster, columns represent the different features

                   py          r          c        sql         js
Assignment
A           89.750298  75.704910  18.941242  24.833986   5.055579
B           69.799266  69.569211  10.891900  64.164052   9.186321
C           96.017893  21.015196  87.057530  22.728009  31.075785
D           18.554134  22.925694  29.934704  33.196274  18.982596
E           63.830289  20.361404  14.394041  87.165838  92.782235

## Your Turn

Using the pandas skills you've learned in class and reviewed here, what is the mean dancibility for each artist in the `popDivas` dataset? Who has the highest average danceability?
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [79]:
popDivas = pd.read_csv("https://raw.githubusercontent.com/cmparlettpelleriti/CPSC392ParlettPelleriti/master/Data/PopDivas_data.csv")
popDivas.head()

,Unnamed: 0,artist_name,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,duration_ms,track_name
0,1,Beyoncé,0.386,0.28800,1,-18.513,1,0.0602,0.533,0.01670,0.1410,0.399,43850,balance (mufasa interlude)
1,2,Beyoncé,0.484,0.36300,5,-8.094,0,0.0368,0.645,0.00000,0.1250,0.201,226479,BIGGER
2,3,Beyoncé,0.537,0.24700,2,-17.750,1,0.0793,0.199,0.00001,0.4230,0.170,46566,the stars (mufasa interlude)
3,4,Beyoncé,0.672,0.69600,4,-6.693,0,0.1770,0.200,0.02750,0.0736,0.642,162353,FIND YOUR WAY BACK
4,5,Beyoncé,0.000,0.00515,9,-22.612,0,0.0000,0.524,0.95000,0.1140,0.000,13853,uncle scar (scar interlude)

In [80]:
###
artists = pd.unique(popDivas.artist_name)

[popDivas.loc[popDivas.artist_name == artist, "danceability"].mean() for artist in artists]

[0.5675717299578059,
 0.719620253164557,
 0.5856818181818182,
 0.5941027397260275,
 0.6265100286532952,
 0.6129830508474575]

Grab only the songs that are by Beyonce or Britney Spears, and have an energy score above 0.5.
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [81]:
popDivas.loc[((popDivas.artist_name == "Britney Spears") | (popDivas.artist_name == "Beyoncé")) & (popDivas.energy > 0.5)]###

,Unnamed: 0,artist_name,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,duration_ms,track_name
3,4,Beyoncé,0.672,0.696,4,-6.693,0,0.1770,0.2000,0.027500,0.0736,0.642,162353,FIND YOUR WAY BACK
5,6,Beyoncé,0.932,0.775,7,-5.345,0,0.1150,0.0184,0.015700,0.3180,0.584,155990,DON'T JEALOUS ME
7,8,Beyoncé,0.790,0.693,0,-5.767,1,0.0605,0.0420,0.026700,0.0790,0.855,190108,JA ARA E
11,12,Beyoncé,0.608,0.709,7,-6.175,1,0.3740,0.1190,0.000000,0.3370,0.709,272068,MOOD 4 EVA (feat. Oumou Sangaré)
12,13,Beyoncé,0.000,0.558,0,-17.238,1,0.0000,0.7560,0.000000,0.5330,0.000,8619,reunited (nala & simba interlude)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,547,Britney Spears,0.847,0.801,9,-3.838,1,0.0564,0.0876,0.000204,0.7660,0.841,216706,What U See (Is What U Get)
547,548,Britney Spears,0.765,0.791,8,-5.707,1,0.0317,0.2620,0.000154,0.0669,0.966,206226,Lucky
548,549,Britney Spears,0.732,0.888,7,-2.415,1,0.0792,0.0702,0.000003,0.3790,0.674,203280,One Kiss from You
550,551,Britney Spears,0.810,0.924,0,-4.020,0,0.0356,0.1190,0.000087,0.1490,0.868,197186,Can't Make You Love Me
551,552,Britney Spears,0.693,0.625,7,-7.147,1,0.0431,0.0553,0.000000,0.6590,0.439,269773,When Your Eyes Say It

# Math with Arrays

numpy arrays allow us to do *vectorized* operations. *Vectorized* operations are applied elementwise to each item in an array, rather than to the array as a whole. For example, if we want to get the square of every number in an array, we can say `array**2`. You can see below, that calling `**2` on the array `x` squares each item in `x`.

In [82]:
x = np.array([1,2,3,4,5,10])

x**2

array([  1,   4,   9,  16,  25, 100])

Similarly we can subtract one array from another `a - b`, which will substract the first element of `b` from the first element of `a`, etc.

In [83]:
a = np.array([1,2,3,4,5])
b = np.array([1,4,-2,5,9])

a-b

array([ 0, -2,  5, -1, -4])

## Your Turn

Using the array knowledge you just reviewed, multiply the arrays `a` and `b` together and then find the sum of those producs.
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [84]:
###

np.sum(a*b)

68

# `np.random`

`np.random` is a great package that allows us to generate random values from different distributions, or randomly choose items from a collection. The two most common functions we use are `np.random.choice()` and `np.random.normal()`.

`np.random.choice()` takes 3 main arguments:

- `a`: an array or collection of items to choose from.

- `size`: an integer that represents how many items you want to choose/sample from `a`

- `replace`: a boolean that tells you whether or not to allow the function to select an item more than once in the sample.


`np.random.normal()` takes 3 main arguments as well:

- `loc`: the mean of the normal distribution to sample from

- `scale`: the standard deviation of the normal distribution to sample from

- `size`: the number of samples to draw.

In [85]:
# draw 100 samples from a standard normal distribution with mean = 0, sd = 1

samp100 = np.random.normal(0,1,100)

samp100

array([-0.42077627,  0.40126436, -2.29473803,  0.68439529,  0.7434193 ,
       -1.26754906,  1.0613513 ,  0.0760928 , -0.53482069,  0.02383092,
        0.35384763, -0.42662042, -2.90004921, -0.40037098, -1.15825556,
       -0.97608792, -0.07001175,  0.48660588,  0.31756681,  0.82305648,
        0.05752439,  0.13260975,  0.62285224,  0.81593481,  1.53571575,
        0.74348027,  1.45945092,  0.08034466, -0.21769482, -1.60552565,
       -2.00386212, -1.34014893,  0.0714015 , -1.05015971,  1.96251721,
       -0.64561312, -0.45018849,  0.04708405, -0.08934169,  1.05369704,
       -0.7410494 ,  2.17904506, -0.57510637, -1.29201673,  0.30171817,
       -0.71769286, -0.11019393, -1.38334067, -0.46681893, -0.80716112,
        0.25920547,  1.6258097 ,  1.61356087, -1.12168268, -1.35186243,
        1.15149021, -0.13646018, -1.31817751, -0.8011849 , -1.3085578 ,
       -0.0518749 ,  0.60621158, -1.11365633,  1.25728411, -0.1223763 ,
        0.03074007,  0.66848914, -0.60899796, -0.12849583,  1.04857269,
       -1.37811434, -0.8208525 , -0.44845238, -0.51316102,  1.20424839,
        0.70777496, -0.43635112,  0.40220193,  1.64721067,  1.68104532,
        0.07458696,  0.2210926 ,  0.57106072,  2.58278269, -0.37913876,
        0.25471068, -2.0678196 , -0.01616918,  1.17710281, -0.51116767,
        1.33341973, -0.58056172,  1.1807691 , -0.20431628, -0.03607106,
       -0.81003773, -1.70641966, -0.24002979, -0.89976143, -0.1259801 ])

In [86]:
# draw 657 samples from `my_list` with replacement

my_list = range(0,250)

samp657 = np.random.choice(my_list, 657, replace = True)
samp657

array([155, 120,  43, 117, 175, 228, 139,  17, 116,  44,  50, 241,   4,
       158, 193,  44,  58, 200, 129,  81, 183,  34, 171, 152,  15,  57,
        40,  43, 109, 147,  58, 195, 116,  31, 243,  83, 191,  38, 142,
       145, 198, 194, 199,  28, 199, 128, 106, 117, 212, 230,  44,  65,
        33, 148, 175, 160, 119, 102, 184,  39, 198,  14, 200, 157,  43,
       114, 182, 244,  16, 229, 104, 166,  47,  84, 130, 164,  16,  80,
       245, 202, 201, 192, 201,  24,  15, 182,  58, 101, 245,  31, 190,
        51,  24, 140, 106,  79, 113, 104,  83,  27, 187,   7, 248, 158,
       245, 219, 220, 105,  61, 161, 100, 169, 211, 196,  90, 100,  36,
        30, 160, 239,  95,  80, 170,  22, 239, 172,  40, 228, 120,  80,
       111,  17, 141, 143, 124,  23, 230, 194, 140,  38,  20,  60, 146,
       207,  27,  68, 135, 142, 245, 200, 145,  19, 227, 172,  58, 235,
       153, 193, 165, 133,   2, 148, 214,  89,  48, 249,  21,  83, 172,
        29, 159, 111,   1, 175, 103,  38, 101,  29, 159,  26,  11, 173,
       214,  78, 187,  98, 232,  49, 234, 194,  78,  68,  91, 167, 137,
       173, 213, 130, 177,  38, 229,  99, 171,  65, 181, 184, 216, 165,
       157,  69, 206, 148,  57,  83, 140,  74,  67, 180, 161, 205, 186,
        57, 165, 121, 139, 205,  55, 141,  88,  18, 123, 120,  81, 246,
       240,  75, 127,  66, 228, 181,  72,  92,  27, 244, 213, 128, 139,
        67, 215, 190, 188, 130, 133, 128, 208, 130, 178,   2, 119, 136,
       145,  96, 234,  25, 247, 149, 248, 192,  82,  69, 153, 212,  61,
        68, 209, 127, 236,  14, 147,  47, 245, 155, 184, 164,  50,  72,
       217,  19, 234, 134, 178,  57,   8,  32, 213, 192, 135,  49, 118,
       225,  47,  62, 230, 124,  88,  96, 200, 119, 235, 235, 240, 208,
       120,  74,  82,  85,   8, 137, 216, 148, 202,  19, 139, 230, 177,
       206,   5, 144,  56,  68,  78, 223, 111, 178,  66, 130, 206, 175,
        95,  71, 133,   4, 110,  15, 237,  52,  16,  38, 132,  87,  90,
        24,  20, 109, 135, 173,  33, 206,  34,  25,  99, 225,  34, 246,
       180,  14,  66, 168, 136, 163, 179, 106, 119, 185, 217,   9, 157,
       233, 124, 227, 185, 208, 216,  74, 186, 247, 110, 158,  75, 152,
       217, 166,  55, 204, 157,   2, 245,  30, 127, 212,  45, 162, 119,
        92, 140,  29, 197, 138,  10,  67, 241, 149,  97, 221,  68,  30,
        91, 158,  86,   2, 162,  84,  59,  84,   9, 203, 154, 100, 139,
        86,  85, 214,  86, 142, 153, 245, 155, 140,  98, 228,  43,  37,
         3, 205,  46, 228,   7,  97, 193,   7, 248, 216,  90,  74,  58,
        58,  16, 121, 157,  50, 229,  56, 247, 119, 137,  33, 121, 142,
       246,  85, 152, 141, 152, 108, 180,  16, 106,  65,  92,  84,  47,
       129, 124, 190,  51,  95,  71,  99, 180, 218,  26,  56, 105, 150,
       188,  11,  69, 170, 151, 100,  56,  24,  19, 174, 172, 228, 133,
       118, 212, 158,  96, 111, 208, 121, 160, 112,  65, 116, 231, 224,
       129, 172, 141,   2, 217, 249, 215, 124,  11, 178,  72,   3, 132,
        52,  68,  75, 172, 138,  91, 125,  26, 245, 213,   2,  20, 138,
        27, 156,  80, 201, 206, 112, 127,  43, 156,  67, 230, 151, 108,
       151, 141, 119,  25, 202,   2, 138, 174, 237, 177,   5,  51,  32,
       240, 144,  39, 145,  43, 110,   3,  99, 239, 230, 240,  56,  78,
       176, 168,  89, 160, 191,  27,  93, 179, 173,  91, 108, 187, 167,
        97,   9, 181, 230,  48,  78, 171, 243, 221,  27, 166, 217,  25,
       107, 128,  85,  86, 216, 135, 161, 124, 115, 142,  65, 139, 185,
       145,  58, 188,   6, 169, 218, 193,  98, 173, 186, 175, 246,  76,
        67, 219, 150, 114, 145, 148, 102, 124, 141,  76, 239,  49,  83,
       204,   7, 131,  69,  23, 123, 241])

In [87]:
for i in range(0,10):
    np.random.seed(123)
    print(list(np.random.choice(range(0,1000), 10, replace = True)))

[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]
[510, 365, 382, 322, 988, 98, 742, 17, 595, 106]

## Your Turn

Choose 100 samples from `range(100, 1000)` without replacement.
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [88]:
###
np.random.choice(range(100,1000), size = 100)

array([223, 669, 314, 837, 196, 213, 738, 147, 173, 644, 324, 211, 509,
       439, 946, 353, 520, 708, 308, 168, 917, 923, 551, 102, 440, 139,
       422, 696, 659, 604, 276, 235, 973, 199, 480, 960, 280, 458, 965,
       313, 730, 962, 511, 390, 688, 780, 999, 206, 937, 676, 943, 518,
       926, 494, 890, 817, 246, 584, 371, 511, 865, 258, 280, 682, 465,
       471, 254, 820, 490, 882, 355, 344, 459, 229, 655, 286, 457, 795,
       637, 534, 924, 405, 880, 630, 565, 613, 151, 985, 845, 404, 156,
       442, 615, 167, 239, 761, 573, 715, 589, 454])

Make a data frame with two columns, `x` and `y`. `x` should be created by randomly sampling 100 samples from a normal distribution with mean = 0, and sd = 1. `y` should be created by randomly sampling 100 samples from a normal distribution with mean = 12, sd = 20.
<img src="https://drive.google.com/uc?export=view&id=1ghyQPx1N8dmU3MV4TrANvqNhGwnLni72" width = 200px />

In [89]:
###
x = np.random.normal(loc = 0, scale = 1, size = 100)
y = np.random.normal(loc = 12, scale = 20, size = 100)

df = pd.DataFrame({"x": x,
                  "y": y})

df.head()

          x          y
0  1.799889   6.256882
1  1.238366  -8.638000
2  0.913757  44.426469
3  0.466268 -27.449135
4  0.125040   7.186410