In [2]:
#1
#UNECESSARY

#2
iris <- read.csv(url("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"))
titanic <- read.csv(url("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"))

In [3]:
#3
head(iris)
head(titanic)

  sepal_length sepal_width petal_length petal_width species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  survived pclass sex    age sibsp parch fare    embarked class who
1 0        3      male   22  1     0      7.2500 S        Third man
2 1        1      female 38  1     0     71.2833 C        First woman
3 1        3      female 26  0     0      7.9250 S        Third woman
4 1        1      female 35  1     0     53.1000 S        First woman
5 0        3      male   35  0     0      8.0500 S        Third man
6 0        3      male   NA  0     0      8.4583 Q        Third man
  adult_male deck embark_town alive alone
1 True            Southampton no    False
2 False      C    Cherbourg   yes   False
3 False           Southampton yes   True
4 False      C    Southampton yes   False
5 True            Southampton no    True
6 True            Queenstown  no    True

In [4]:
#4
four <- titanic[,"sex"]
print(four)

  [1] male   female female female male   male   male   male   female female
 [11] female female male   male   female female male   male   female female
 [21] male   male   female male   female female male   male   female male
 [31] male   female female male   male   male   male   male   female female
 [41] female female male   female female male   male   female male   female
 [51] male   male   female female male   male   female male   female male
 [61] male   female male   male   male   male   female male   female male
 [71] male   female male   male   male   male   male   male   male   female
 [81] male   male   female male   female female male   male   female male
 [91] male   male   male   male   male   male   male   male   female male
[101] female male   male   male   male   male   female male   male   female
[111] male   female male   female female male   male   male   male   female
[121] male   male   male   female male   male   male   male   female male
[131] male   male   female female male   male   female male   male   male
[141] female female female male   male   male   male   female male   male
[151] male   female male   male   male   male   female male   male   male
[161] male   female male   male   male   male   female female male   male
[171] male   male   female male   male   male   male   female male   male
[181] female male   male   male   female male   female male   male   male
[191] female male   female male   female female male   male   female female
[201] male   male   male   male   male   female male   male   female male
[211] male   female male   male   male   female female male   female male
[221] male   male   male   male   male   male   male   male   male   female
[231] female male   male   female male   female male   female male   male
[241] female female male   male   male   male   female female male   male
[251] male   female male   male   female female female female female female
[261] male   male   male   male   female male   male   male   female female
[271] male   male   female male   female female female male   male   female
[281] male   male   male   male   male   male   male   male   male   female
[291] female female male   female male   male   male   female male   female
[301] female male   male   female male   male   female female male   female
[311] female female female male   male   female female male   female female
[321] male   male   female female male   female male   female female female
[331] female male   male   male   female male   male   female male   male
[341] male   female male   male   male   female female female male   male
[351] male   male   male   male   male   male   female female female female
[361] male   male   female male   male   male   female female female female
[371] male   male   male   male   female female female male   male   male
[381] female female male   female male   male   male   female male   female
[391] male   male   male   female female male   female male   male   female
[401] male   male   female male   female male   male   male   male   female
[411] male   male   female male   male   female female female male   female
[421] male   male   male   female male   male   female female male   male
[431] male   female female male   male   female female female male   male
[441] female male   male   female male   male   female male   female male
[451] male   male   male   male   male   male   male   female female male
[461] male   male   male   male   male   male   male   male   male   female
[471] male   male   female female female male   male   male   male   female
[481] male   male   male   female male   female female male   male   male
[491] male   male   male   male   male   male   female male   female male
[501] male   female female female female male   female male   male   male
[511] male   male   male   female male   male   female male   female male
[521] female male   male   female male   male   female male   male   male
[531] female male   male   female female female male   female male   female
[541] female female female male   male   male   female male   male   male
[551] male   male   male   male   female male   female male   female female
[561] male   male   male   male   female male   male   female male   male
[571] male   female male   female male   male   female female female male
[581] female female male   male   male   female male   male   male   male
[591] male   female male   female male   male   female male   male   male
[601] female male   male   male   male   male   male   male   female female
[611] female male   female male   male   female male   female female male
[621] male   male   male   male   male   male   male   female male   male
[631] male   male   male   male   female female male   male   female male
[641] male   female female male   female male   male   male   male   female
[651] male   female male   female female male   male   female male   male
[661] male   male   male   male   male   male   male   male   male   female
[671] female male   male   male   male   male   male   female female male
[681] female male   male   male   male   male   male   male   male   female
[691] male   female male   male   male   male   male   female male   male
[701] female male   female male   male   male   female male   female male
[711] female male   male   male   male   male   female female male   male
[721] female male   male   male   male   male   female female male   female
[731] female male   male   male   male   male   female male   male   male
[741] male   male   female male   male   male   male   female male   male
[751] female male   male   male   female male   male   male   male   female
[761] male   male   male   female male   female male   female male   male
[771] male   male   female male   female male   male   female male   female
[781] female female male   male   male   male   female male   male   male
[791] male   male   female male   male   male   female female male   female
[801] male   female male   male   male   male   male   female male   female
[811] male   male   male   female male   male   female male   male   male
[821] female male   male   female male   male   male   male   male   female
[831] female male   male   male   male   female male   male   male   male
[841] male   male   female male   male   male   male   male   male   female
[851] male   male   female female female female female male   female male
[861] male   male   female female male   female female male   male   male
[871] male   female male   male   female female male   male   male   female
[881] female male   female male   male   female male   female female male
[891] male
Levels: female male

In [5]:
#5
five <- iris[10,]
print(five)

   sepal_length sepal_width petal_length petal_width species
10          4.9         3.1          1.5         0.1  setosa

In [6]:
#6
six <- titanic[12,"age"]
print(six)

[1] 58

In [8]:
#7
seven <- mean(titanic[,"age"], na.rm = T)
print(seven)

[1] 29.69912